In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\dell\anaconda3\lib\site-packages (2.0.1)

In [3]:
import pandas as pd
import zipfile

In [7]:
zf = zipfile.ZipFile("C:/Users/Dell/Desktop/Stores.zip")

In [8]:
zf.namelist()

['Stores.csv']

In [9]:
df = pd.read_csv(zf.open('Stores.csv'))

In [10]:
df.head()

   Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1        1659             1961                   530        66490
1          2        1461             1752                   210        39820
2          3        1340             1609                   720        54010
3          4        1451             1748                   620        53730
4          5        1770             2111                   450        46620